<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadNotesServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.UploadNotesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDAO</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.CourseDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.AddCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotesOperation</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.NotesOperation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentOperationServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.DepartmentOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCodeServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.SendCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecentlyViewedServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.RecentlyViewedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedNotesServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.SavedNotesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoteActionServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.NoteActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSavedNotesServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.RemoveSavedNotesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSessionServlet</servlet-name>
        <servlet-class>com.prashant.webapp.servlet.CheckSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/GoogleLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadNotesServlet</servlet-name>
        <url-pattern>/UploadNotesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDAO</servlet-name>
        <url-pattern>/CourseDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/CourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/AddCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotesOperation</servlet-name>
        <url-pattern>/NotesOperation</url-pattern>
    </servlet-mapping>
    <!--start page-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentOperationServlet</servlet-name>
        <url-pattern>/DepartmentOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCodeServlet</servlet-name>
        <url-pattern>/SendCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecentlyViewedServlet</servlet-name>
        <url-pattern>/RecentlyViewedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavedNotesServlet</servlet-name>
        <url-pattern>/SavedNotesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoteActionServlet</servlet-name>
        <url-pattern>/NoteActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSavedNotesServlet</servlet-name>
        <url-pattern>/RemoveSavedNotesServlet</url-pattern>
    </servlet-mapping>
    <!--error page-->
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>CheckSessionServlet</servlet-name>
        <url-pattern>/CheckSessionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
